* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.footer-container {
  height: 200px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.profile-icon {
  color: white;
  font-size: 60px;
  margin-right: 100px;
}
.footer-text {
  background-color: black;
  display: flex;
justify-content: center;
align-items: center;
}
.footer-text p {
  color: white;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 80.9%;
  font-variant: all-small-caps;
  position: relative;
  top:-20px;
  
}
